<div id="login-div">
    <img id="logo-login" src="/images/aeonian-logo-w.png" alt="aeonian-logo">
    <a class="btn" href="/challenges/select-sport">Create Chalenge</a>
    <a class="btn" href="/challenges/search">Search Challenges</a>

</div>
<div id="mobile-menu">

</div>