<div id="login-div">
    <img id="logo-login" src="/images/aeonian-logo-w.png" alt="aeonian-logo">

    <form id="form"  action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        
        <br>
        <% if (typeof message != "undefined") { %>
        <div class="error-message">
            <%= message %>
        </div>
            <% } %>
                
        <button class="btn" type="submit" value="Log In">LOG IN</button>        
    </form>
</div>
<div>
    <a id="sign-log" href="/signup">SIGN UP</a>
</div>