
    <div id="main-title">
      <h1 id="aeonian">AEONIAN</h1>
      <img id="logo" src="/images/aeonian-logo-w.png" alt="aeonian-logo">
      <p id="slogan">LEAVE YOUR MARK FOREVER</p>
    </div>
    <div id="home-div-btns">
      <a class="btn" href="http://localhost:3000/login">LOG IN</a>
      <a class="btn" href="http://localhost:3000/signup">SIGN UP</a>
      
      
    </div>
  