
<div>
    <h1 class="tittleResults">LOSER... snif, snif....</h1>

    <form id="form" action="/challenges/<%= challenge._id %>/results" method="post">
        <a>
            <button class="btn" type="submit">Home</button>
        </a>
    </form> 

</div>