<div id="map-search"></div>

<div>
    <div class="challenge-description">
    <h1 class="tittle">
        <%= challenge.challengeName%>
    </h1>
    
    <p class="text">
        <%= challenge.description + ' ...'%>
    </p>

    </div>

<div id="join" >
    <a id="form" href="/challenges/search">
        <button class="btn">Back</button>
    </a>
    
    <form id="form" action="/challenges/<%= challenge._id %>" method="post">
        <a>
            <button class="btn" type="submit">Join</button>
        </a>
    </form>

    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIoSi4O6j2YmTJQFpyKg7qWHzq3zFs7UA"></script>

<script type="text/javascript">
    var challenge = <%- JSON.stringify(challenge) %>;
</script>
<script src="/javascripts/single-map.js"></script>