<h1>CREATE PROFILE</h1>

<form action="/signup" method="POST" id="form-container">
    <label for="name">Name</label>
    <input id="name-user" type="text" name="username" placeholder="Your name">
    <br>
    <br>
    <label for="age">Age</label>
    <input id="age-user" type="Number" name="age" placeholder="Your age">
    <br>
    <br>
    <label for="nationality">Nationality</label>
    <input id="nationality-user" type="text" name="nationality" placeholder="Your nationality">
    <br>
    <br>
    <label for="sport">Sports :</label>
    <input id="sport-user" type="text" name="sport" placeholder="Your sport">

    <br>
    <br>
    <a href="/home">
        <button >Submit</button>
    </a>
</form>